# 问题：分析附件1中两组评酒员的评价结果有无显著性差异，哪一组结果更可信？

In [16]:
%load_ext autoreload
%autoreload 2
from data_load4ap1 import appendix1
a1=appendix1()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

数据集太复杂了，我只能手搓了

In [17]:
df_r_1,df_w_1,df_r_2,df_w_2=a1.sum_group()
r_1_p=df_r_1.T.copy()
r_2_p=df_r_2.T.copy()
w_1_p=df_w_1.T.copy()
w_2_p=df_w_2.T.copy()

In [73]:
#tmp=a1.standardization(w_2_p.T)
a1.anova(r_1_p)

组间变异量：341.721811
组内变异量：96.309117
自由度k:9
自由度n:17
F值:6.702
f: 0.9995881041023327
p值:0.000823791795334649634696688736

In [64]:
w_2_p.head()

       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10
w_2_1  84  78  82  75  79  84  81  69  75   72
w_2_2  79  76  77  85  77  79  80  59  76   70
w_2_3  85  74  71  87  79  79  80  45  83   73
w_2_4  84  78  74  83  69  82  84  66  77   72
w_2_5  83  79  79  80  77  87  82  73  84   91