In [34]:
%load_ext autoreload
%autoreload 2
from dataload4ap2 import grapes
g=grapes()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
df=g.appearence_r()
df_s=g.g_data_standardization(df)
df_s.head()

    name      g_hs      g_bl     g_gsm     g_gpm    g_gp_l    g_gp_a    g_gp_b
0  r_g_1  3.441547 -0.299412 -0.359154 -1.476117 -1.915427 -0.512386  0.627525
1  r_g_2  1.353075  0.015933 -0.997965 -0.523762 -0.149970 -0.575959 -0.950286
2  r_g_3  0.597700 -0.007336 -0.988425 -0.397979 -0.652371 -0.365644 -0.288859
3  r_g_4 -0.292153 -0.259017 -0.642641 -0.326104 -0.226652 -0.005718 -0.027632
4  r_g_5  0.173173 -0.775596  1.737576  1.398917  0.081840 -0.464587  0.007895

In [36]:
df_s,metrix=g.kmeans(df_s)
metrix

e:\anaconda3\envs\pytorch\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

,g_hs_center,g_bl_center,g_gsm_center,g_gpm_center,g_gp_l_center,g_gp_a_center,g_gp_b_center
0,-1.109730,4.104260,-0.391311,-1.619869,1.574943,4.922345,4.402778
1,-0.140265,-0.076040,0.573726,0.708396,0.542375,-0.226651,-0.387827
2,2.490989,-0.140064,-0.347530,-1.296428,-2.028687,-0.354650,0.294722
3,-0.190854,-0.275957,-0.694580,-0.570481,-0.511082,-0.103993,0.043735

In [37]:
metrix,metric=g.rank(metrix)
print(metric)
metrix

[7, 10, 4, 1]

,g_hs_center,g_bl_center,g_gsm_center,g_gpm_center,g_gp_l_center,g_gp_a_center,g_gp_b_center,sum
0,1,10,4,1,10,10,10,46
1,7,7,10,10,7,4,1,46
2,10,4,7,4,1,1,7,34
3,4,1,1,7,4,7,4,28

: