In [5]:
%load_ext autoreload
%autoreload 2
from dataload4ap2 import grapes
g=grapes()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
df=g.appearence_r()
df_s=g.g_data_standardization(df)
df_s.head()

    name       gsm        bl       gpm      gp_l      gp_a      gp_b        hs
0  r_g_1 -0.359153 -0.924480 -1.478259 -1.915750 -0.512394  0.627441  3.441547
1  r_g_2 -0.997967 -1.359679 -0.519244 -0.149952 -0.576127 -0.950320  1.353073
2  r_g_3 -0.988425 -1.237709 -0.399367 -0.652367 -0.365811 -0.288566  0.597704
3  r_g_4 -0.642641 -0.047210 -0.327441 -0.226342 -0.005724 -0.027347 -0.292152
4  r_g_5  1.737578  1.319086  1.398785  0.082158 -0.464595  0.007482  0.173175

In [7]:
df_s,metrix=g.kmeans(df_s)
metrix

e:\anaconda3\envs\pytorch\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

,gsm_center,bl_center,gpm_center,gp_l_center,gp_a_center,gp_b_center,hs_center
0,-0.391310,-1.007512,-1.622111,1.574712,4.922362,4.402923,-1.109727
1,-0.694930,-1.093243,-0.980770,-0.881539,-0.337586,-0.002469,0.840678
2,1.136195,1.218303,1.088603,0.380742,-0.304867,-0.163616,0.039163
3,-0.348522,-0.098747,-0.020121,0.140920,-0.010939,-0.279701,-0.462575

In [8]:
metrix,metric=g.rank(metrix)
print(metric)
metrix

[7, 1, 10, 4]

,gsm_center,bl_center,gpm_center,gp_l_center,gp_a_center,gp_b_center,hs_center,sum
0,4,4,1,10,10,10,1,183.518107
1,1,1,4,1,1,7,10,61.981976
2,10,10,10,7,4,4,7,237.735167
3,7,7,7,4,7,1,4,165.066065