In [15]:
%load_ext autoreload
%autoreload 2
from dataload4ap2 import grapes
g=grapes()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
df=g.appearence_r()
df_s=g.g_data_standardization(df)
df_s.head()

    name      g_hs      g_bl     g_gsm     g_gpm    g_gp_l    g_gp_a    g_gp_b
0  r_g_1  3.441547 -0.299360 -0.359156 -1.476117 -1.912517 -0.512311  0.628281
1  r_g_2  1.353073  0.015950 -0.997949 -0.523762 -0.150129 -0.574447 -0.949970
2  r_g_3  0.597704 -0.007412 -0.988428 -0.397979 -0.652410 -0.364141 -0.291495
3  r_g_4 -0.292152 -0.259020 -0.642644 -0.326104 -0.229437 -0.005665 -0.030195
4  r_g_5  0.173175 -0.775527  1.737554  1.398917  0.078981 -0.464515  0.011613

In [21]:
df_s,metrix=g.kmeans(df_s)
metrix

e:\anaconda3\envs\pytorch\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

,g_hs_center,g_bl_center,g_gsm_center,g_gpm_center,g_gp_l_center,g_gp_a_center,g_gp_b_center
0,-1.109727,4.104275,-0.391313,-1.619869,1.577011,4.922190,4.401452
1,-0.140265,-0.076044,0.573726,0.708396,0.542237,-0.226896,-0.387802
2,2.490991,-0.140048,-0.347523,-1.296428,-2.027072,-0.354582,0.293817
3,-0.190855,-0.275956,-0.694581,-0.570481,-0.511419,-0.103648,0.044015

In [30]:
metrix,metric=g.rank(metrix)
print(metric)
metrix

[7, 10, 4, 1]

,g_hs_center,g_bl_center,g_gsm_center,g_gpm_center,g_gp_l_center,g_gp_a_center,g_gp_b_center,sum
0,1,10,4,1,10,10,10,46
1,7,7,10,10,7,4,1,46
2,10,4,7,4,1,1,7,34
3,4,1,1,7,4,7,4,28